:host {
  height: 100vh;
  display: grid;
  grid-template: "toolbar"
                 "page-container" 1fr;
}

h1 {
  grid-area: title;
}

mat-toolbar {
  grid-area: toolbar;
  display: grid;
  grid-template:  "title menu" auto
  / 1fr 50px;
}

mat-sidenav-container {
  grid-area: page-container
}

mat-sidenav-content {
  padding: 16px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 280px);
}

mat-card {
  width: 232px;
}

[mat-card-image] {
  height: 330px;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

dd {
  margin-inline-start: 0;
}

mat-sidenav {
  width: 310px;
}

.search {
  padding: 16px;
}

.list-button {
  width: 100%;
  text-align: left;
}

mat-chip.mat-chip {
  margin: 0 16px 16px;
}

::ng-deep .mat-chip-list-wrapper {
  margin: 0 !important;
}

.menu-button {
  grid-area: menu;
}

mat-menu {
  display: none
}
