<mat-toolbar color="primary">
  <h1>Astronaut Directory</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened role="region">Sidenav content</mat-sidenav>
  <mat-sidenav-content role="region">
    <mat-card *ngFor="let astronaut of astronauts | async">
      <mat-card-title>{{astronaut.name}}</mat-card-title>
      <img mat-card-image [src]="astronaut.photo">
      <mat-card-content>
        <dl>
          <dt class="mat-small">Name</dt>
          <dd class="mat-body-2">{{ astronaut.name }}</dd>
          <dt class="mat-small">Space walks</dt>
          <dd class="mat-body-2">{{ astronaut.spaceWalks }}</dd>
          <dt class="mat-small">Undergraduate major</dt>
          <dd class="mat-body-2">{{ astronaut.undergraduateMajor }}</dd>
        </dl>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
